*.vs
Release
Debug


*.o
*.obj
*.bak

# msvs
*.suo
*.sdf
*.opensdf
*.ipch
*.vcproj.filters
*.vcproj.user
*.vcxproj.filters
*.vcxproj.user

**/Debug/
**/Release/
bin/*
tmp/*

*~
*.a
*.exe

EASTL-community.zip
